* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  padding: 0;
  margin: 0;
}

button,
a {
  cursor: pointer;
}

body,
html {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Open Sans',sans-serif;
  font-weight: 800;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-content {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 40%;
  padding: 6%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-content {
  width: 60%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.my-name {
  font-size: 6vh;
  text-transform: uppercase;
  line-height: 51px;
  color: #505050;
}

.role-summary {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
}

.left-content .bio {
  font-size: 17px;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 27px;
  margin-top: 50px;
  color: #5f5f5f;
}

.left-content .cta-contact {
  background-color: #06c5df;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 2px;
  font-size: 17px;
  margin-top: auto;
}

.right-content .portfolio-project {
  height: 100vh;
  box-shadow: 6px 0 6px black;
}

.at-tags {
  color: #06c5df;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .left-content {
    position: static;
    width: auto;
    padding: 10%;
  }

  .right-content {
    width: auto;
  }

  .right-content .portfolio-project {
    height: 70vh;
  }
}